.hover-underline{
    position: relative;
}
.hover-underline::after{
    content:'';
    position: absolute;
    background-color: black;
    height: 0.1px;
    left: 0;
    bottom: -2.5px;
    width: 0;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-underline:hover::after{
    width: 100%;
}

.marquee{
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
    
}
